table {
  box-shadow: .5vh .5vh 2vh .5vh rgba( 0, 0, 0, .5 );
}
table {
  width: 500px;
  border-collapse: collapse;
  border: 2vh solid darkolivegreen;
}
td {
  width: 300px;
  height: 150px;
  background: darkolivegreen;
  user-select: none;
  border-radius: 50%
}

td:hover {
    background-color: rgb(55, 70, 30);
  }